nav {
    width: 8rem;
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.375);
    padding: 1rem;
    
    section:first-child(){
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: .5rem;
    }
}