.card {
    width: 20rem;
    height: 21rem;
    margin: .5rem;
    padding: 1rem;
    top: 5rem;

    background-color: rgba(128, 58, 197, 0.603);
    color: white;
    border-radius: .5rem;
}

.titulo_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card p {
    margin: .5rem;
    text-align: center;
}

.card img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 4px;
}
